html,
body {
    height: 100%;
    
}

#butterfly {
    height: 200px;
    width: auto;
    position: absolute;
}

#wateringcan {
    width: 200px;
    position: fixed;
    bottom: 20%;
    left: 40%;
    transition: transform 0.6s ease;
}
.waterdrop {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: blue;
    position: absolute;
    display: none;
    bottom: 20%;
    left: 40%;
}

#net {
    height: 600px;
    width: auto;
    position: absolute;
    pointer-events: none;
    transition: transform 0.6s ease;
}

.apple {
    height: 50px;
    width: auto;
    position: absolute;
    z-index: 1;
}

#tree {
    position: fixed;
    bottom: 20px;
    left: 50%;
    position: absolute;

}

.basket {
    width: 200px;
    position: fixed;
    bottom: 20px;
    left: 20%;
    z-index: 0;
}

#basketfront {
    z-index: 2;
}


body {
    margin: 0px;
    background-image: url("../images/grass.png");
    background-attachment: fixed;
    background-repeat: repeat-x;
    background-position: bottom;
    overflow: hidden;
}

.watercan {
    width: 200px;
    height: auto;
    position: relative; 
    border-radius: 10px;
    cursor: pointer;
}

.watercan {
    width: 100px;
    height: 100px;
    position: relative; /* Gør dråber relative til vandkanden */
    border-radius: 10px;
    cursor: pointer;
}